<template>
  <!-- Authentication (Login/Register) Page -->
  <q-page class="flex flex-center text-white">
    <q-card>
      <!-- Tab for Register and Login -->
      <q-tabs
        v-model="tab"
        dense
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="login" label="Login" />
        <q-tab name="register" label="Register" />
      </q-tabs>

      <q-separator />

      <q-tab-panels v-model="tab" animated>
        <!-- Load in Respective Auth Component -->
        <q-tab-panel name="login">
          <Login />
        </q-tab-panel>

        <q-tab-panel name="register">
          <Register />
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-page>
</template>

<style scoped>

/* dark theme styles */

.q-card {
  background: #424242;
}

.q-tab-panels {
  background: #424242;
}
</style>

<script>
// import auth components
import Login from '../components/Login'
import Register from '../components/Register'

export default {
  name: 'Auth',
  data() {
    return {
      tab: 'login' // used to store current tab
    }
  },
  components: {
    Login,
    Register
  }
}
</script>
