<template>
  <!-- Used to Show Page is 404 -->
  <q-page class="fixed-center text-center">
    <p>
      <q-icon name="sentiment_very_dissatisfied" />
    </p>

    <p class="text-white">Sorry, nothing here... <strong>(404)</strong></p>

    <q-btn
      color="accent"
      style="width:200px;"
      @click="$router.go(-1)"
    >Go back</q-btn>
  </q-page>
</template>

<style scoped>
.q-icon { /* sad face icon */
  font-size: 100px;
  filter: invert(1);
}
</style>

<script>
export default {
  name: 'Error404'
}
</script>
