<template>
  <!-- WIP Page -->
  <q-page class="leaderboard">
    <WIP />
  </q-page>
</template>

<style scoped>
</style>

<script>
import WIP from '../components/WIP.vue'

export default {
  name: 'Leaderboard',
  components: {
    WIP
  }
}
</script>
