<template>
  <!-- Log Page -->
  <q-page class="log">
    <check-auth /> <!-- Check That User is Logged In -->
    <div v-on:click.capture="preDateChange()" class="calender-container q-pa-md">
      <!-- Date Picker -->
      <q-date
        v-model="currentDate"
        :events="events"
        :options="optionsFn"
        class="day-selector"
        @input="dateChange()"
        :disable="loading"
        landscape
        minimal
        dark
        event-color="primary"
      />
    </div>

    <!-- Date Display -->
    <q-card class="text-white journal-container">
      <div class="text-h4 q-mb-md">{{ currentDate }}</div>
      <q-tabs
        v-model="tab"
        dense
        class="text-grey"
        active-color="primary"
        indicator-color="primary"
        align="justify"
        narrow-indicator
      >
        <q-tab name="day" label="Day" />
        <q-tab name="night" label="Night" />
      </q-tabs>

      <q-separator />

      <!-- Day Panel -->
      <q-tab-panels v-model="tab" animated>
        <q-tab-panel class="time-of-date" name="day">
          <!-- Loader -->
          <div v-if="loading" class="full-width full-height flex flex-center loading-container">
            <q-spinner
              color="primary"
              size="3em"
            />
          </div>
          <!-- Day Form -->
          <q-form
            v-if="!loading"
            @submit="save(currentDate)"
            @input="formInput()"
          >
            <h6>Plans</h6>
            <q-input
              type="textarea"
              v-model="currentDateData.day.plans"
              autogrow
              filled
              dark
            />
            <h6>Outcomes</h6>
            <q-input
              type="textarea"
              v-model="currentDateData.day.outcomes"
              autogrow
              filled
              dark
            />
            <h6>RCs</h6>
            <q-input
              type="number"
              v-model="currentDateData.day.RCs"
              filled
              min="0"
              value="0"
              dark
            />

            <!-- Submit -->
            <q-btn
              icon="check"
              class="save-btn"
              color="primary"
              type="submit"
              label="Save"
            />
          </q-form>
        </q-tab-panel>

        <!-- Night Form -->
        <q-tab-panel class="time-of-date" name="night">
          <!-- Loading -->
          <div v-if="loading" class="full-width full-height flex flex-center loading-container">
            <q-spinner
              color="primary"
              size="3em"
            />
          </div>
          <q-form
            v-if="!loading"
            @submit="save(currentDate)"
            @input="formInput()"
          >
            <h6>Time Slept</h6>
            <q-input
              v-model="currentDateData.night.timeSlept"
              filled
              dark
              mask="time"
              :rules="['time']"
            >
              <template v-slot:append>
                <q-icon name="access_time" class="cursor-pointer">
                  <q-popup-proxy transition-show="scale" transition-hide="scale">
                    <q-time v-model="currentDateData.night.timeSlept" format24h dark />
                  </q-popup-proxy>
                </q-icon>
              </template>
            </q-input>

            <h6>Plans</h6>
            <q-input
              type="textarea"
              v-model="currentDateData.night.plans"
              autogrow
              filled
              dark
            />
            <h6>Outcomes</h6>
            <q-input
              type="textarea"
              v-model="currentDateData.night.outcomes"
              autogrow
              filled
              dark
            />
            <h6>Techniques</h6>
            <div class="flex select-and-add">
              <q-select
                filled
                v-model="currentDateData.night.techniques"
                multiple
                dark
                :options="techOptions"
                @input="formInput()"
                use-chips
                stack-label
              /><q-btn
                icon="add"
                @click="promptTech = true, techToAddWbtbIndex = -1, techWbtb = false"
                color="primary"
              />
            </div>

            <!-- Dreams -->
            <h6>Dreams</h6>
            <div class="dreams">
              <q-btn
                icon="add"
                label="Add"
                @click="addDream()"
                color="primary"
              />

              <q-card class="dream" v-for="(dream, index) in currentDateData.night.dreams" v-bind:key="index">
                <q-icon class="delete-btn" @click="deleteDream(index)" name="delete" />
                <h6>Dream #{{ index+1 }}</h6>
                <div>Clarity</div>
                <q-slider
                  :min="1"
                  :max="10"
                  :step="1"
                  v-model="dream.clarity"
                  @input="formInput()"
                  snap
                  dark
                  label
                  color="primary"
                />

                <div>Length</div>
                <q-slider
                  :min="1"
                  :max="10"
                  :step="1"
                  v-model="dream.length"
                  @input="formInput()"
                  snap
                  dark
                  label
                  color="primary"
                />

                <div>Lucidity</div>
                <q-slider
                  :min="0"
                  :max="4"
                  :step="1"
                  v-model="dream.lucidity"
                  @input="formInput()"
                  snap
                  dark
                  label
                  color="primary"
                />

                <div>Description</div>
                <q-input
                  type="textarea"
                  v-model="dream.description"
                  autogrow
                  @blur="keywordDream(index)"
                  filled
                  dark
                />

                <div class="tag-title">Dream Tags</div>
                <div class="flex select-and-add">
                  <q-select
                    filled
                    v-model="dream.tags"
                    multiple
                    dark
                    :options="tagOptions"
                    @input="formInput()"
                    use-chips
                    stack-label
                  /><q-btn
                    icon="add"
                    @click="promptTag = true, tagToAddDreamIndex = index"
                    color="primary"
                  />
                </div>
              </q-card>
            </div>

            <!-- WBTBs -->
            <h6>WBTBs</h6>
            <div class="wbtbs">
              <q-btn
                icon="add"
                label="Add"
                @click="addWbtb()"
                color="primary"
              />

              <q-card class="wbtb" v-for="(wbtb, index) in currentDateData.night.wbtbs" v-bind:key="index">
                <q-icon class="delete-btn" @click="deleteWbtb(index)" hover="primary" name="delete" />
                <h6>WBTB #{{ index+1 }}</h6>
                <div>Time</div>
                <q-input
                  filled
                  v-model="wbtb.time"
                  dark
                  mask="time"
                  :rules="['time']"
                >
                  <template v-slot:append>
                    <q-icon name="access_time" class="cursor-pointer">
                      <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-time v-model="wbtb.time" dark />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>

                <div>Length</div>
                <q-input
                  filled
                  v-model="wbtb.length"
                  dark
                  mask="time"
                  :rules="['time']"
                >
                  <template v-slot:append>
                    <q-icon name="access_time" class="cursor-pointer">
                      <q-popup-proxy transition-show="scale" transition-hide="scale">
                        <q-time v-model="wbtb.length" format24h dark />
                      </q-popup-proxy>
                    </q-icon>
                  </template>
                </q-input>

                <div>Description</div>
                <q-input
                  type="textarea"
                  v-model="wbtb.description"
                  autogrow
                  filled
                  dark
                />

                <div class="tech-title">Techniques</div>
                <div class="flex select-and-add">
                  <q-select
                    filled
                    v-model="wbtb.techniques"
                    multiple
                    dark
                    :options="techOptions"
                    @input="formInput()"
                    use-chips
                    stack-label
                  /><q-btn
                    icon="add"
                    @click="promptTech = true, techToAddWbtbIndex = index, techWbtb = true"
                    color="primary"
                  />
                </div>

              </q-card>
            </div>

            <!-- Submit -->
            <q-btn
              icon="check"
              class="save-btn"
              color="primary"
              type="submit"
              label="Save"
            />
          </q-form>
        </q-tab-panel>
      </q-tab-panels>
    </q-card>

    <!-- Confirm Save Journal Update -->
    <q-dialog v-model="confirmSave" persistent>
      <q-card class="text-white">
        <q-card-section class="row items-center">
          <q-icon class="warning-save-icon" name="warning" color="primary" text-color="white" />
          <span class="q-ml-sm">You have unsaved changse to your journal. Would you like to save them?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Save" @click="save(saveDate, true)" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- Prompt User For New Tag -->
    <q-dialog v-model="promptTag" persistent>
      <q-card style="min-width: 400px" class="text-white">
        <q-card-section>
          <div class="text-h6">Add Dream Tag</div>
        </q-card-section>

        <q-card-section>
          <q-input dense v-model="tagToAdd" autofocus @keyup.enter="addDreamTag()" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Add Tag" @click="addDreamTag()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- Prompt User For New Tech -->
    <q-dialog v-model="promptTech" persistent>
      <q-card style="min-width: 400px" class="text-white">
        <q-card-section>
          <div class="text-h6">Add Technique</div>
        </q-card-section>

        <q-card-section>
          <q-input dense v-model="techToAdd" autofocus @keyup.enter="addTech()" />
        </q-card-section>

        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />
          <q-btn flat label="Add Technique" @click="addTech()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<style scoped>
.log-splitter {
  width: 100%;
  background: #303030;
  height: calc(100vh - 50px);
}

h6 {
  margin: 2vh;
}

.day-selector {
  width: 100%;
  height: calc(96vh - 50px);
}

.calender-container {
  width: calc(35% - 3vh);
  float: left;
  padding: 0;
  margin: 2vh;
}

.journal-container {
  margin: 2vh;
  width: calc(65% - 3vh);
  margin-left: 0;
  float: right;
}


.dreams, .wbtbs {
  background: #303030;
  padding: 3vh;
  border-radius: 3px;
}

.dream, .wbtb {
  margin-top: 4vh;
}

.dream .tag-title, .wbtb .tech-title {
  margin-top: 2vh;
}

.select-and-add {
  width: 100%;
}

.select-and-add .q-select {
  width: 90%;
}

.select-and-add .q-btn {
  width: 10%;
}

.loading-container {
  margin-top: 16px;
}

.delete-btn {
  float: right;
  font-size: 3.2vh;
}

.delete-btn:hover {
  color: #1e90ff;
}

.select-and-add .q-btn {
  border-radius: 0 3px 3px 0;
}

.time-of-date, .q-tab-panels {
  background: #424242;
}

.save-btn {
  margin-top: 3vh;
  width: 100%;
}

.warning-save-icon {
  font-size: 3vh;
}

.q-card {
  background: #424242;
  padding: 3vh;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .calender-container {
    width: calc(100% - 4vh);
  }

  .journal-container {
    margin: 2vh;
    margin-top: 0;
    width: calc(100% - 4vh);
  }

  .select-and-add .q-select {
    width: 79%;
  }

  .select-and-add .q-btn {
    width: 20%;
  }

  .time-of-date {
    padding: 0;
  }
}

</style>

<style>
/* Calender Design */

.q-date__calendar-item {
  font-size: 2.5vh !important;
}

#q-app > div > div.q-page-container > main > div > div.q-splitter__panel.q-splitter__before > div > div > div > div > div.q-date__navigation.row.items-center.no-wrap > div > button > div.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row > i {
  font-size: 2.5vh;
}

#q-app > div > div.q-page-container > main > div > div.q-splitter__panel.q-splitter__before > div > div > div > div > div > div > button > div.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row > div {
  font-size: 2.5vh;
}

#q-app > div > div.q-page-container > main > div > div.q-splitter__panel.q-splitter__before > div > div > div > div > div.q-date__navigation.row.items-center.no-wrap > div:nth-child(5) > div > button > div.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row > div {
  font-size: 3.5vh;
}

#q-app > div > div.q-page-container > main > div > div.q-splitter__panel.q-splitter__before > div > div > div > div > div.q-date__navigation.row.items-center.no-wrap > div.relative-position.overflow-hidden.flex.flex-center.col > div > button > div.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row > div {
  font-size: 3.5vh;
}

#q-app > div > div.q-page-container > main > div > div.q-splitter__panel.q-splitter__before > div > div > div > div > div.q-date__calendar-days-container.relative-position.overflow-hidden > div > div > button > div.q-btn__content.text-center.col.items-center.q-anchor--skip.justify-center.row > div:nth-child(1) {
  font-size: 2.5vh;
}
</style>

<script>
import axios from 'axios'
import CheckAuth from '../components/CheckAuth'

var structures = [`a`, `about`,  `above`,  `after`,  `after`,  `again`,  `against`,  `ago`,  `ahead`,  `all`,  `almost`,  `almost`,  `along`,  `already`,  `also`,  `although`,  `always`,  `am`,  `among`,  `an`, `and`,  `any`,  `are`,   `aren't`,  `around`,  `as`,  `at`,  `away`,
`backward`,  `backwards`,  `be`,  `because`,  `before`,  `behind`,  `below`,  `beneath`,  `beside`,  `between`,  `both`,  `but`,  `by`,
`can`,  `cannot`,  `can't`,  `cause`,  `cos`,  `could`,  `couldn't`,
`'d`,  `despite`,  `did`,  `didn't`,  `do`,  `does`,  `doesn't`,  `don't`,  `down`,  `during`,
`each`,  `either`,  `even`,  `ever`,  `every`,  `except`,
`for`, `forward`,  `from`,
`had`, `hadn't`,  `has`,  `hasn't`,  `have`, `haven't`,  `he`, `her`, `here` , `hers`,  `herself`,  `him`,  `himself`,  `his`,  `how`,  `however`,  `I`,
`if`,  `in`,  `inside`,  `inspite`,  `instead`,  `into`,  `is`,  `isn't`,  `it`,  `its`,  `itself`,
`just`,
`'ll`,  `least`,  `less`,  `like`,
`'m`, `many`,  `may`,  `mayn't`,  `me`,  `might`,  `mightn't`, `mine`,  `more`,  `most`,  `much`,  `must`,  `mustn't`,  `my`,  `myself`,
`near`,  `need`,  `needn't`,  `needs`,  `neither`,  `never`,  `no`,  `none`,  `nor`,  `not`,  `now`,
`of`,  `off`,  `often`,  `on`,  `once`,  `only`,  `onto`,  `or`,  `ought`,  `oughtn't`,  `our`,  `ours`,  `ourselves`,  `out`,  `outside`,  `over` ,
`past`,  `perhaps` ,
`quite`,
`'re`, `rather`,
`'s`,  `seldom`,  `several`,  `shall`,  `shan't`,  `she`,  `should`, `shouldn't`, `since`,  `so`,  `some`,  `sometimes`,  `soon` ,
`than`,  `that`,  `the`,  `their`,  `theirs`,  `them`,  `themselves`,  `then`,  `there`,  `therefore`,  `these`,  `they`,  `this`,  `those`,  `though`,  `through`,  `thus`,  `till`,  `to`, `together`,  `too`,  `towards`,
`under`,  `unless`,  `until`,  `up`,  `upon`,  `us`,  `used`,  `usedn't`, `usen't`,  `usually`,
`'ve`, `very`,
`was`,  `wasn't`,  `we`,  `well`,  `were`,  `weren't`,  `what`,  `when`,  `where`,  `whether`,  `which`,  `while`,  `who`,  `whom`,  `whose`,  `why`,  `will`,  `with`,  `without`,  `won't`,  `would`,  `wouldn't`,
`yet`,  `you`,  `your`,  `yours`,  `yourself`,  `yourselves`] // english language structures to be removed from text

// return array of keywords & their count in a text
function getKeywords(text) {
  for (var i = 0; i < structures.length; i++) { // get all english structure words
  	structures[i] = structures[i].replace(new RegExp("'", 'g'), '')
  	structures[i] = structures[i].toLowerCase()
  }

  text = text // format text to match structure words
  				.toLowerCase()
  				.replace(new RegExp('\'', 'g'), '')
  				.split('.').join('')
  				.split('!').join('')
  				.split('(').join('')
  				.split(')').join('')
  				.split(',').join('')
  				.split(':').join('')
  				.split('"').join('')
  				.split('\n').join(' ')

  let words = text.split(' ') // split text into words

  for (var i = 0; i < words.length; i++) {
  	if(structures.includes(words[i])) { // remove word if structure word
  		words.splice(i, 1)
  		i = 0
  	}
  }

  // holders for word data
  let countsWords = []
  let countsN = []

  for (let i = 0; i < words.length; i++) { // create array of words and counts
  	if(countsWords.includes(words[i])) {
  		countsN[countsWords.indexOf(words[i])] += 1
  	} else {
  		countsWords.push(words[i])
  		countsN.push(1)
  	}
  }

  // convert to single array
  let complete = []
  for (let i = 0; i < countsWords.length; i++) {
  	if (countsWords[i].length > 2) {
  		complete.push({
  			word: countsWords[i],
  			count: countsN[i]
  		})
  	}
  }

  return complete.sort((a, b) => { // sort and return
  	if(a.count > b.count) {
  		return -1
  	} else if(b.count > a.count) {
  		return 1
  	} else {
  		return 0
  	}
  })
}

export default {
  name: 'Log', // dream log page
  data() {
    return {
      currentDate: '',
      currentDateData: {
        day: {
          plans: '',
          outcomes: '',
          RCs: 0
        },
        night: {
          timeSlept: '',
          plans: '',
          outcomes: '',
          techniques: [],
          dreams: [{
            clarity: 1,
            length: 1,
            lucidity: 0,
            description: '',
            tags: []
          }],
          wbtbs: [{
            time: '',
            length: '',
            description: '',
            techniques: []
          }]
        }
      },
      dates: [],
      startDate: '',
      endDate: '',
      techOptions: ['MILD', 'WILD', 'DILD', 'VILD', 'SILD', 'FILD', 'DEILD', 'ADA'],
      tagOptions: [],
      tab: 'day',
      loading: false,
      events: [],
      confirmSave: false,
      changesMade: false,
      saveDate: '',
      saveData: {},
      promptTag: false,
      tagToAdd: '',
      tagToAddDreamIndex: 0,
      promptTech: false,
      techToAdd: '',
      techToAddWbtbIndex: 0,
      techWbtb: false
    }
  },
  components: {
    CheckAuth
  },
  created() {
    // start date
    this.startDate = this.$store.state.authentication.startDate

    // current
    let today = new Date();
    let dd = String(today.getDate()).padStart(2, '0');
    let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    let yyyy = today.getFullYear();

    this.currentDate = yyyy + '/' + mm + '/' + dd;

    // end date
    var endDate = new Date(this.currentDate); //YYYY-MM-DD

    dd = String(endDate.getDate()).padStart(2, '0');
    mm = String(endDate.getMonth() + 1).padStart(2, '0'); //January is 0!
    yyyy = endDate.getFullYear();

    this.endDate = yyyy + '/' + mm + '/' + dd;

    console.log('[LOG]', this.startDate, '->', this.endDate);

    this.dates = this.getDateArray(this.startDate, this.endDate)

    this.dateChange() // update date
  },
  methods: {
    optionsFn (date) { // finding min max on calender
      return date >= this.startDate.split('-').join('/') && date <= this.endDate.split('-').join('/')
    },
    getDateArray (start, end) { // get array of dates from start and end
      start = new Date(start);
      end = new Date(end);
      end = end.setDate(end.getDate() + 1)

      let arr = new Array();
      let dt = new Date(start);

      while (dt <= end) {
        let current = new Date(dt);
        let dd = String(current.getDate()).padStart(2, '0');
        let mm = String(current.getMonth() + 1).padStart(2, '0'); //January is 0!
        let yyyy = current.getFullYear();

        arr.push(yyyy + '/' + mm + '/' + dd);
        dt.setDate(dt.getDate() + 1);
      }

      return arr;
    },
    save(date, useOld) {
      let self = this
      this.$q.loading.show()
      console.log('[LOG]', 'Saving data');
      axios
        .post('http://127.0.0.1:8888/api/log/update',
          self.exportJournal(useOld),
        {
          'Access-Control-Allow-Origin': '*' // allow CORS
        })
        .then((res) => {
          this.$q.loading.hide()

          console.log('[LOG]', 'Save successful');
          this.changesMade = false

          self.$q.notify({ // notify
            color: 'primary',
            icon: 'check',
            message: 'Saved!',
            timeout: 500
          })
        })
        .catch((err) => {
          this.$q.loading.hide()
          let errCode = err.message.split(' ')[err.message.split(' ').length-1]

          console.log('[LOG] Save error:', err);

          if (errCode == '401') { // notify user error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Incorrect Login Details!',
              timeout: 1000
            })
          } else { // notify server error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Unkown Error, Try Again Later!',
              timeout: 1000
            })
          }
        })
    },
    dateChange() { // when calender date changes
      this.loading = true
      let self = this
      console.log('[LOG]', 'Date change');

      axios
        .post('http://127.0.0.1:8888/api/log/get', {
          user: self.$store.state.authentication._id,
          date: String(self.currentDate)
        }, {
          'Access-Control-Allow-Origin': '*' // allow CORS
        })
        .then((res) => {
          self.loading = false

          console.log('[LOG]', 'Date data recieved');

          self.currentDateData = res.data
        })
        .catch((err) => {
          this.$q.loading.hide()
          let errCode = err.message.split(' ')[err.message.split(' ').length-1]

          console.log('[LOG] Date request error:', err);

          if (errCode == '401') { // notify user error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Incorrect Login Details!',
              timeout: 1000
            })
          } else { // notify server error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Unkown Error, Try Again Later!',
              timeout: 1000
            })
          }
        })
    },
    exportJournal(useOld) { // export data for database usage
      let self = this
      if (useOld) {
        return {
          user: String(self.$store.state.authentication._id),
          date: String(self.saveDate),
          night: {
            techniques: self.saveData.night.techniques,
            plans: String(self.saveData.night.plans),
            outcomes: String(self.saveData.night.outcomes),
            timeSlept: String(self.saveData.night.timeSlept),
            dreams: self.saveData.night.dreams,
            wbtbs: self.saveData.night.wbtbs,
          },
          day: {
            plans: String(self.saveData.day.plans),
            outcomes: String(self.saveData.day.outcomes),
            RCs: Number(self.saveData.day.RCs)
          }
        }
      } else {
        return {
          user: String(self.$store.state.authentication._id),
          date: String(self.currentDate),
          night: {
            techniques: self.currentDateData.night.techniques,
            plans: String(self.currentDateData.night.plans),
            outcomes: String(self.currentDateData.night.outcomes),
            timeSlept: String(self.currentDateData.night.timeSlept),
            dreams: self.currentDateData.night.dreams,
            wbtbs: self.currentDateData.night.wbtbs,
          },
          day: {
            plans: String(self.currentDateData.day.plans),
            outcomes: String(self.currentDateData.day.outcomes),
            RCs: Number(self.currentDateData.day.RCs)
          }
        }
      }

    },
    addWbtb() { // add wbtb locally
      this.currentDateData.night.wbtbs.push({
        time: '',
        length: '',
        description: '',
        techniques: []
      })
      this.changesMade = true
    },
    addDream() { // add dream locally
      this.currentDateData.night.dreams.push({
        clarity: 1,
        length: 1,
        lucidity: 0,
        description: '',
        tags: []
      })
      this.changesMade = true
    },
    deleteWbtb(index) { // delete wbtb locally
      this.currentDateData.night.wbtbs.splice(index, 1)
      this.changesMade = true
    },
    deleteDream(index) { // delete dream locally
      this.currentDateData.night.dreams.splice(index, 1)
      this.changesMade = true
    },
    formInput() {
      console.log('[LOG] Changes made to journal');
      this.changesMade = true
    },
    preDateChange() { // before date changes
      if (this.changesMade) { // check if changse have been made
        console.log('[LOG]', 'Changes have been made, requesting save');
        // store current data
        this.saveDate = this.currentDate
        this.saveData = this.currentDateData
        this.confirmSave = true
        this.changesMade = false
      }
      // allow date to change
    },
    keywordDream(index) { // find keywords in dream description and add them to tags
      let text = this.currentDateData.night.dreams[index].description
      let keywords = getKeywords(text)
          keywords = keywords.filter((a) => {
            return a.count >= 2 ? true : false
          })

      let words = []

      for (var i = 0; i < keywords.length; i++) {
        words.push(keywords[i].word)
      }

      for (var i = 0; i < words.length; i++) {
        if(!this.currentDateData.night.dreams[index].tags.includes(words[i])) {
          this.currentDateData.night.dreams[index].tags.push(words[i])
        }
      }

      console.log('[LOG]', 'Dream keywords:', keywords);
    },
    addDreamTag() { // add dream tag locally
      this.promptTag = false
      let tag = this.tagToAdd
      this.currentDateData.night.dreams[this.tagToAddDreamIndex].tags.push(tag.toLowerCase())
    },
    addTech() { // add dream tech locally
      this.promptTech = false
      let tech = this.techToAdd
      if (this.techWbtb) {
        this.currentDateData.night.wbtbs[this.techToAddWbtbIndex].techniques.push(tech.toUpperCase())
      } else {
        this.currentDateData.night.techniques.push(tech.toUpperCase())
      }
    }
  }
}
</script>
