<template>
  <!-- WIP Page -->
  <q-page class="profile">
    <check-auth />
    <WIP />
  </q-page>
</template>

<style scoped>
</style>

<script>
import WIP from '../components/WIP.vue'
import CheckAuth from '../components/CheckAuth'

export default {
  name: 'Profile',
  components: {
    WIP,
    CheckAuth
  }
}
</script>
