<template>
  <q-page class="setup flex flex-center text-white">
    <check-auth />
    <div class="">
      <h4>Introduction</h4>
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        swipeable
        animated
        control-color="white"
        navigation
        padding
        arrows
        height="300px"
        class="bg-primary main-content text-white shadow-1 rounded-borders"
      >
        <q-carousel-slide name="log" class="column no-wrap flex-center">
          <q-icon name="edit" size="56px" />
          <div class="q-mt-md text-center">
            Journal your days, nights, dreams, WBTBs & RCs in the log.
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="stats" class="column no-wrap flex-center">
          <q-icon name="show_chart" size="56px" />
          <div class="q-mt-md text-center">
            Get valuable analytics and insights from the stats page.
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="gpi" class="column no-wrap flex-center">
          <q-icon name="person" size="56px" />
          <div class="q-mt-md text-center">
            Receive a personallised GPI (general personal indicator) as a summary of your lucid dreaming career.
          </div>
        </q-carousel-slide>
        <q-carousel-slide name="share" class="column no-wrap flex-center">
          <q-icon name="group" size="56px" />
          <div class="q-mt-md text-center">
            Share your progress with others.
          </div>
        </q-carousel-slide>
      </q-carousel>
      <q-btn label="okay" center @click="$router.push('/log')" outline color="primary" />
    </div>
  </q-page>
</template>

<style scoped>
.main-content {
  width: 40vw;
}

h4 {
  margin-bottom: 2vh;
  text-align: center;
}

.q-btn {
  margin: 2vh;
  margin-left: 0;
  width: 20%;
  margin-left: 40%;
}
</style>

<script>

import CheckAuth from '../components/CheckAuth'

export default {
  name: 'Setup',
  components: {
    CheckAuth
  },
  data() {
    return {
      slide: 'log'
    }
  }
}
</script>
