<template>
  <!-- Layout/Container for All Pages -->
  <q-layout view="hHh Lpr lff">
    <q-header>
      <q-toolbar>
        <!-- Nav Bar/Menu Open Button -->
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          aria-label="Menu"
        >
          <q-icon name="menu" />
        </q-btn>

        <q-toolbar-title>
          Lucid Log
        </q-toolbar-title>

        <!-- Text To Display App Version -->
        <div>v0.0.1 (BETA)</div>
      </q-toolbar>
    </q-header>

    <!-- Left drawer Containing Nav Bar Component -->
    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      elevated
      content-class="bg-grey-2 text-white"
    >
      <nav-list />
    </q-drawer>

    <q-page-container>
      <!-- Load in Page to Layout -->
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import NavList from '../components/NavList.vue' // navigation page list component

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  components: {
    NavList
  }
}
</script>

<style>

/* dark theme styles */

body {
  background: #303030;
}

.q-drawer__content {
  background: #424242 !important;
}

.q-item__label--caption {
  color: #bbbbbb;
}

</style>
