<template>
  <!-- Empty Template -->
</template>

<script>
export default {
  name: 'CheckAuth',
  created() { // check if user authenticated
    let user = this.$store.state.authentication._id

    if(!user) {
      this.$router.push('/auth') // if not, send to login
    }
  }
}
</script>
