<template>
  <!-- Login Auth Module -->
  <div class="login">
    <q-form
      @submit="loginSubmit()"
    >
      <div class="text-h6">Login</div>
      <q-input
        required
        class="login-input"
        v-model="username"
        dark
        type="text"
        label="Username"
      >
        <!-- Username Input -->
      </q-input>

      <q-input
        required
        class="login-input"
        v-model="password"
        dark
        type="password"
        label="Password"
      >
        <!-- Password Input -->
      </q-input>

      <q-btn
        color="primary"
        dark
        type="submit"
        label="Login"
      >
        <!-- Submit Input -->
      </q-btn>
    </q-form>
  </div>
</template>

<style scoped>

.login {
  width: 30vh;
  padding: 3vh;
  padding-top: 1.5vh;
}

.login-input { /* username/password text inputs */
  margin-bottom: 2vh;
}

.q-btn { /* submit button */
  width: 100%;
}

</style>

<script>
import axios from 'axios'

export default {
  name: 'Login',
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    loginSubmit() {
      console.log('[AUTH] Login Form Submitted');
      this.$q.loading.show() // show loading

      let self = this

      axios
        .post('http://127.0.0.1:8888/api/auth/login', { // request to login
          username: this.username,
          password: this.password
        }, {
          'Access-Control-Allow-Origin': '*' // allow CORS
        })
        .then((res) => {
          console.log('[AUTH] Login Request Successful');
          console.log(res);

          let user = res.data; // get responded user data

          self.$store.commit('setAuth', user) // set global auth variable

          console.log('[AUTH] Authentication Set');
          console.log(self.$store.state.authentication); // log global auth variable

          self.$q.loading.hide() // hide loading
          self.$q.notify({ // display notification
            color: 'primary',
            icon: 'check',
            message: 'Logged In!',
            timeout: 1000
          })
          self.$router.push('/log')
        })
        .catch((err) => { // if error with login request
          console.log('[AUTH] Login Request Unsuccessful');
          console.log(err); // log err

          let errCode = err.message.split(' ')[err.message.split(' ').length-1] // get numerical http error code
          self.$q.loading.hide() // hide loading

          if (errCode == '401') { // notify user error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Incorrect Login Details!',
              timeout: 1000
            })
          } else { // notify server error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Unkown Error, Try Again Later!',
              timeout: 1000
            })
          }
        })
    }
  }
}
</script>
