<template>
  <!-- Navigation Bar Page List -->
  <q-list class="nav-list">

    <q-item-label header>Personal</q-item-label>

    <q-item v-if="!authenticated" clickable tag="a" to="/auth">
      <q-item-section avatar>
        <q-icon name="lock" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Login</q-item-label>
        <q-item-label caption>Access Dreams & Statistics</q-item-label>
      </q-item-section>
    </q-item>

    <!-- When Clicked When Logged in Run logout() Then Redirect to /auth -->
    <q-item v-if="authenticated" clickable @click="logout" to="/auth" tag="a">
      <q-item-section avatar>
        <q-icon name="exit_to_app" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Logout</q-item-label>
        <q-item-label caption>Secure Your Dreams</q-item-label>
      </q-item-section>
    </q-item>

    <q-item :disable="!authenticated" clickable tag="a">
      <q-item-section avatar>
        <q-icon name="settings" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Settings</q-item-label>
        <q-item-label caption>Update Account Settings</q-item-label>
      </q-item-section>
    </q-item>

    <q-item-label header>Dream Log</q-item-label>

    <q-item :disable="!authenticated" to="/log" clickable tag="a">
      <q-item-section avatar>
        <q-icon name="edit" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Logbook</q-item-label>
        <q-item-label caption>Log Dreams and WBTBs</q-item-label>
      </q-item-section>
    </q-item>

    <q-item :disable="!authenticated" clickable tag="a">
      <q-item-section avatar>
        <q-icon name="timeline" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Statistics</q-item-label>
        <q-item-label caption>Dream Data & Analytics</q-item-label>
      </q-item-section>
    </q-item>

    <q-item-label header>Social</q-item-label>

    <q-item :disable="!authenticated" clickable tag="a">
      <q-item-section avatar>
        <q-icon name="person_pin" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Profile</q-item-label>
        <q-item-label caption>Share Your Goals & Achievements</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a" to="/leaderboard">
      <q-item-section avatar>
        <q-icon name="emoji_events" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Leaderboard</q-item-label>
        <q-item-label caption>View Global Dream Rankings</q-item-label>
      </q-item-section>
    </q-item>

    <q-item clickable tag="a">
      <q-item-section avatar>
        <q-icon name="chat" />
      </q-item-section>
      <q-item-section>
        <q-item-label>Discord Chat</q-item-label>
        <q-item-label caption>Night Realm</q-item-label>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
import { openURL } from 'quasar' // used to open external URLS

export default {
  name: 'NavList',
  computed: {
    authenticated() { // computed boolean variable tests if user is logged in
      return this.$store.state.authentication["username"] === undefined ? false : true
    }
  },
  methods: {
    openURL,
    logout() { // when logout button pressed
      this.$store.commit('revokeAuth') // revoke authentication
    }
  }
}
</script>
