<template>
  <!-- Register Auth Module -->
  <div class="register">
    <q-form
      @submit="registerSubmit()"
    >
      <div class="text-h6">Register</div>
      <q-input
        required
        class="register-input"
        v-model="username"
        dark
        type="text"
        label="Username"
      >
        <!-- Username Input -->
      </q-input>

      <q-input
        required
        class="register-input"
        v-model="password"
        dark
        type="password"
        label="Password"
      >
        <!-- Password Input -->
      </q-input>

      <q-btn
        color="primary"
        dark
        type="submit"
        label="Register"
      >
        <!-- Submit Input -->
      </q-btn>
    </q-form>
  </div>
</template>

<style scoped>

.register {
  width: 30vh;
  padding: 3vh;
  padding-top: 1.5vh;
}

.register-input { /* username/password text inputs */
  margin-bottom: 2vh;
}

.q-btn { /* submit button */
  width: 100%;
}

</style>

<script>
import axios from 'axios'

export default {
  name: 'Register',
  data() {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    registerSubmit() {
      console.log('[AUTH] Register Form Submitted');
      this.$q.loading.show() // show loading

      let today = new Date();
      let dd = String(today.getDate()).padStart(2, '0');
      let mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
      let yyyy = today.getFullYear();

      let currentDate = yyyy + '-' + mm + '-' + dd;

      let self = this

      axios
        .post('http://127.0.0.1:8888/api/auth/register', { // request to register
          username: this.username,
          password: this.password,
          startDate: currentDate
        }, {
          'Access-Control-Allow-Origin': '*' // allow CORS
        })
        .then((res) => {
          console.log('[AUTH] Register Request Successful');
          console.log(res);

          let user = res.data; // get responded user data

          self.$store.commit('setAuth', user) // set global auth variable

          console.log('[AUTH] Authentication Set');
          console.log(self.$store.state.authentication); // log global auth variable

          self.$q.loading.hide() // hide loading
          self.$q.notify({ // display notification
            color: 'primary',
            icon: 'check',
            message: 'Registered!',
            timeout: 1000
          })

          self.$router.push('setup')
        })
        .catch((err) => { // if error with register request
          console.log('[AUTH] Register Request Unsuccessful');
          console.log(err); // log err

          let errCode = err.message.split(' ')[err.message.split(' ').length-1] // get http error code
          self.$q.loading.hide() // hide loading

          if (errCode == '401') { // notify user error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Username Taken!',
              timeout: 1000
            })
          } else { // notify server error
            self.$q.notify({
              color: 'red',
              icon: 'warning',
              message: 'Unkown Error, Try Again Later!',
              timeout: 1000
            })
          }
        })
    }
  }
}
</script>
