<template>
  <!-- Show the User the Page is WIP -->
  <q-page class="flex flex-center">
    <div class="text-center">
      <p>
        <q-icon name="sentiment_very_dissatisfied" />
      </p>

      <p class="text-white">Sorry, This Page is Work in Progress!</p>

      <q-btn
        color="accent"
        style="width:200px;"
        @click="$router.go(-1)"
      >Go back</q-btn>
    </div>
  </q-page>
</template>

<style scoped>
.q-icon { /* sad face icon */
  font-size: 100px;
  filter: invert(1);
}
</style>

<script>
export default {
  name: 'WIP'
}
</script>
